In [10]:
import pandas

data = {'col1': [1, 2, 3, 4],
        'col2': [5, 6, 7, 8]}

df = pandas.DataFrame(data)

In [9]:
len(df)

4

In [3]:
len(df.columns)

2

In [4]:
df.size

8

In [5]:
df.shape

(4, 2)

In [6]:
df.ndim

2

In [10]:
len(data) != len(df)

True

In [11]:
len(data)

2

In [3]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [24]:
import collections
import typing


class dataframe:
    def __init__(self, data):
        self._columns = list(data)

    @property
    def columns(self) -> typing.List[str]:
        return self._columns
    
    @columns.setter
    def columns(self, names: typing.Iterable[str]):
        if not isinstance(names, collections.abc.Iterable) or isinstance(names, str):
            raise TypeError(f'Columns must be an iterable, not {type(names).__name__}')

        names = list(names)

        for name in names:
            if not isinstance(name, str):
                raise TypeError(f'Column names must be str, {type(name).__name__} found')
        
        if len(names) != len(self._columns):
            raise ValueError(f'Expected {len(self._columns)} column names, found {len(names)}')

        if len(set(names)) != len(self._columns):
            duplicates = set(name for name in names if names.count(name) > 1)
            raise ValueError(f'Column names cannot be duplicated. Found duplicates: {", ".join(duplicates)}')

        self._columns = names


df = dataframe({'col1': [1, 2], 'col2': [3, 4]})
df.columns = 'foo', 'bar'
df.columns = map(str.upper, df.columns)
df.columns

['FOO', 'BAR']

In [29]:
>>> df.columns = 'foo', 'foo'

ValueError: Column names cannot be duplicated. Found duplicates: foo